venv/
/venv/
*.venv

**/.env
*/.env.

pycache/
*.pyc
*.pyo
*.pyd

staticfiles/

**/node_modules
node_modules/

/build
/dist

npm-debug.log*

.npm

.DS_Store
.AppleDouble
.LSOverride

4. IDE Folders

.idea/
.vscode/
*.swp